p, ul, ol {margin-bottom: 1em}

.content ul { list-style: disc; }

.comment { border-bottom: 1px solid #eee; margin-bottom: 1em; }
.comment h3 { font-weight: bold; }
.comment footer { font-size: 10px;  color: #999; }


.field-name-taxonomy-vocabulary-11,
.field-name-taxonomy-vocabulary-10,
.field-name-field-url,
.comment-count,
.field-name-post-date {
  background-position: 5px 50%;
  background-repeat: no-repeat;
  padding-left: 26px;
  clear: both;
}

.field-name-taxonomy-vocabulary-11 {
  background-image: url("../images/icons/world.png");
}
.field-name-taxonomy-vocabulary-10 {
  background-image: url("../images/icons/tag_yellow.png");
}
.field-name-taxonomy-vocabulary-10 div.field-item {
  display: inline;
}
.field-name-taxonomy-vocabulary-10 div.field-item:after { content:" "; }

.field-name-field-url {
  background-image: url("../images/icons/arrow_right.png");
}
.comment-count {
  background-image: url("../images/icons/comments.png");
}
.field-name-post-date {
  background-image: url("../images/icons/calendar.png");
}

.node-teaser .group-left-1 .field,
.view-mode-full .group-right-1 .field {
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: solid 1px #eee;
}

#zone-footer img {
  vertical-align: top;
}

.tagadelic.level1, .tagadelic.level2, .tagadelic.level3,
.tagadelic.level4, .tagadelic.level5, .tagadelic.level6 {
  font-size: 12px;
}
.tagadelic.level1 {
  opacity: 0.25;
}
.tagadelic.level2 {
  opacity: 0.4;
}
.tagadelic.level3 {
  opacity: 0.55;
}
.tagadelic.level4 {
  opacity: 0.7;
}
.tagadelic.level5 {
  opacity: 0.85;
}
.tagadelic.level6 {
  opacity: 1;
}
