body { color: #333; font-family: Helvetica, Sans-Serif; }

a { text-decoration: none; color: #5D941E; }
a:hover { color: #2B391B; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1#page-title, #zone-content h2 {
  font-size: 24px;
  border-bottom: 2px solid #E9DFDF;
  margin: 20px 0 10px;
  text-shadow: 0.05em 0.05em 0.1em #999;
}
h1 a, h2 a {
  color: #333;
}


#zone-branding-wrapper {
  background: url(../images/header.png) no-repeat top center;
  min-height: 200px;
}
.site-name-slogan {
  position: absolute;
  top: 81px;
}
.site-name {
  font-size: 32px;
  text-shadow: 0.05em 0.05em 0.1em #999;
}
h6.site-slogan {
  color: #666;
  font-size: 14px;
  margin-top: 0.8em;
}

#section-footer {
  background: #000 url(../images/footer-top.png) repeat-x top center;
}
#zone-footer-wrapper {
  margin-top: 3em;
  padding-top: 2em;
  background: url(../images/footer-bottom.png) no-repeat bottom center;
  min-height: 200px;
}
#zone-footer .region {
  min-height: 10px;
  font-size: 13px;
}
#zone-footer a {
  color: #CCCCCC;
}
#zone-footer h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
#zone-footer .block-without-title {
  padding-top: 28px;
}

.content {
  font-size: 13px;
  line-height: 23px;
}

#region-sidebar-first .block-menu ul li {
  border-bottom: 1px solid #E9DFDF;
  list-style: none outside none;
  margin: 0;
  padding: 5px 0;
}

/**
 * Message styles.
 */
.messages {
  border-radius: 20px;
  padding: 20px;
  margin: 10px 0;
  color: #FFFFFF;
}
.messages.status {
    background: #030;
    text-shadow: 0 0 20px #090;
}
.messages.warning {
    background: #c90;
    text-shadow: 0 0 20px #ff0;
}
.messages.error {
    background: #400;
    text-shadow: 0 0 20px #f00;
}
