body {
  margin: 0;
  padding: 0;
  
  font-family: sans;
}

#wrapper {
  background: #ffffff url(header.png) top center no-repeat;
}

#container {
  width: 960px;
  margin: 0 auto;
}

#header {
  
  width: 100%;
  height: 200px;
}

#footer {
  background: #181818 url(footer-top.png) repeat-x;
}
#footer-bottom {
  min-height: 200px;
  background: url(footer-bottom.png) bottom center no-repeat;
  width: 960px;
  margin: 0 auto;
  padding-bottom: 50px;
}

#footer .block {
  width: 220px;
  margin: 10px;
  float: left;
}
#footer .block h2 {
  color: #666666;
  font-weight: normal;
}

#footer a {
  color: #9f9f9f;
  text-decoration: none;
}